.DS_Store

*.pdb
*.suo
*.swp
*.ignore
*.user
*.Publish.xml
*.pubxml
*.vs

*.dbmdl
*.tickle

**/node_modules
**/stats

.sass-cache
.idea
.vscode
.pulumi

secureSettings.config
connectionStrings.config


**/obj
**/packages

/.vs
npm-debug.log
**/npm-debug.log.*
*.bak


# output
/dist
/dist-governance
/public/dev

# Test results
*.txt
/coverage
# Output of build scripts when run locally
/build
build.txt

**/*.userprefs
